<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 【0 - Session】配置Shiro-Session-Redis缓存机制 -->
	<bean id="sessionJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${shiro.redis.session.pool.maxTotal}"/>
		<property name="maxIdle" value="${shiro.redis.session.pool.maxIdle}"/>
		<property name="testOnBorrow" value="${shiro.redis.session.pool.testOnBorrow}"/>
		<property name="maxWaitMillis" value="${shiro.redis.session.database.index}"/>
	</bean>
	<bean id="sessionJedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="sessionJedisPoolConfig"/>
		<property name="hostName" value="${shiro.redis.session.host}"/>
		<property name="port" value="${shiro.redis.session.port}"/>
		<property name="password" value="${shiro.redis.session.auth}"/>
		<property name="timeout" value="${shiro.redis.session.timeout}"/>
		<property name="database" value="${shiro.redis.session.database.index}"/>
	</bean> 
	
	<!-- 【1 - authc】配置Shiro-Authc-Redis缓存机制 -->
	<bean id="authcJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${shiro.redis.authc.pool.maxTotal}"/>
		<property name="maxIdle" value="${shiro.redis.authc.pool.maxIdle}"/>
		<property name="testOnBorrow" value="${shiro.redis.authc.pool.testOnBorrow}"/>
		<property name="maxWaitMillis" value="${shiro.redis.authc.database.index}"/>
	</bean>
	<bean id="authcJedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="authcJedisPoolConfig"/>
		<property name="hostName" value="${shiro.redis.authc.host}"/>
		<property name="port" value="${shiro.redis.authc.port}"/>
		<property name="password" value="${shiro.redis.authc.auth}"/>
		<property name="timeout" value="${shiro.redis.authc.timeout}"/>
		<property name="database" value="${shiro.redis.authc.database.index}"/>
	</bean> 
	
	<!-- 【2 - authc】配置Shiro-Authz-Redis缓存机制 -->
	<bean id="authzJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${shiro.redis.authz.pool.maxTotal}"/>
		<property name="maxIdle" value="${shiro.redis.authz.pool.maxIdle}"/>
		<property name="testOnBorrow" value="${shiro.redis.authz.pool.testOnBorrow}"/>
		<property name="maxWaitMillis" value="${shiro.redis.authz.database.index}"/>
	</bean>
	<bean id="authzJedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="authzJedisPoolConfig"/>
		<property name="hostName" value="${shiro.redis.authz.host}"/>
		<property name="port" value="${shiro.redis.authz.port}"/>
		<property name="password" value="${shiro.redis.authz.auth}"/>
		<property name="timeout" value="${shiro.redis.authz.timeout}"/>
		<property name="database" value="${shiro.redis.authz.database.index}"/>
	</bean> 
	
	<!-- 【3 - retry】配置Shiro-Retry-Redis缓存机制 -->
	<bean id="retryJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${shiro.redis.retry.pool.maxTotal}"/>
		<property name="maxIdle" value="${shiro.redis.retry.pool.maxIdle}"/>
		<property name="testOnBorrow" value="${shiro.redis.retry.pool.testOnBorrow}"/>
		<property name="maxWaitMillis" value="${shiro.redis.retry.database.index}"/>
	</bean>
	<bean id="retryJedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="retryJedisPoolConfig"/>
		<property name="hostName" value="${shiro.redis.retry.host}"/>
		<property name="port" value="${shiro.redis.retry.port}"/>
		<property name="password" value="${shiro.redis.retry.auth}"/>
		<property name="timeout" value="${shiro.redis.retry.timeout}"/>
		<property name="database" value="${shiro.redis.retry.database.index}"/>
	</bean>	

	<!-- 【4 - kickout】配置Shiro-Kick-Redis缓存机制 -->
	<bean id="kickoutJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="${shiro.redis.kickout.pool.maxTotal}"/>
		<property name="maxIdle" value="${shiro.redis.kickout.pool.maxIdle}"/>
		<property name="testOnBorrow" value="${shiro.redis.kickout.pool.testOnBorrow}"/>
		<property name="maxWaitMillis" value="${shiro.redis.kickout.database.index}"/>
	</bean>
	<bean id="kickoutJedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="kickoutJedisPoolConfig"/>
		<property name="hostName" value="${shiro.redis.kickout.host}"/>
		<property name="port" value="${shiro.redis.kickout.port}"/>
		<property name="password" value="${shiro.redis.kickout.auth}"/>
		<property name="timeout" value="${shiro.redis.kickout.timeout}"/>
		<property name="database" value="${shiro.redis.kickout.database.index}"/>
	</bean>	

</beans>
